{% extends 'base.html.twig' %}

{% block title %}Edit UrlConversion{% endblock %}

{% block body %}
    <h1>Edit UrlConversion</h1>

    {{ include('url_conversion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('url_conversion_index') }}">back to list</a>

    {{ include('url_conversion/_delete_form.html.twig') }}
{% endblock %}
