{% extends 'base.html.twig' %}

{% block title %}New UrlConversion{% endblock %}

{% block body %}
    <h1>Trevor's Symfony Link Shortener</h1>

    {{ include('url_conversion/_form.html.twig') }}

    <a href="{{ path('url_conversion_index') }}">Go To Index of UrlConversions</a>
{% endblock %}
